body {
    background-color: #302929;
    margin: 0px;
    padding: 0px;
}

@keyframes wiggle {
    0% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(2deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-2deg);
    }
    100% {
        transform: rotate(0);
    }
}

.envelope {
    height: 300px;
    width: 400px;
    background-color: #ff8789;
    position: relative;
    top: 20em;
    margin-left: auto;
    margin-right: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    transform-style: preserve-3d;
    perspective: 1000px;
    animation: wiggle 0.3s 0.2s infinite;
}

.envelope .cover {
    position: absolute;
    height: 0px;
    width: 0px;
}

.envelope .cover.top {
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 150px solid transparent;
    border-top: 150px solid #ff8789;
    transform-origin: top;
    z-index: 5;
}

.envelope .cover.bottom.right {
    border-left: 200px solid transparent;
    border-right: 200px solid #ff393c;
    border-bottom: 150px solid #ff393c;
    border-top: 150px solid transparent;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 5;
}

.envelope .cover.left {
    border-left: 200px solid #ff5355;
    border-right: 200px solid transparent;
    border-bottom: 150px solid transparent;
    border-top: 150px solid transparent;
    border-bottom-left-radius: 10px;
    z-index: 5;
}

.letter {
    background: #dedede;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    z-index: 3;
}

.paper {
    position: relative;
    width: 100%;
    height: 70%;
    border-radius: 20px;
    z-index: 4;
}